*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: orchid;
}

.main-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.square{
  width: calc(100% / 10);
  height: calc((100% / 10));
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.active{
  background-color: lightskyblue;
}